HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### SO / Genéricos ###
.DS_Store
Thumbs.db

### Java Logs / Genéricos ###
*.class
*.log
*.jar
*.war

### Ecossistema Node (Para Git Hooks locais) ###
node_modules/
npm-debug.log
yarn-error.log
.env.local

### ---------- START custom ----------

./git-hooks/node_modules

### ---------- END custom ----------